#new-todo-input {
    padding: 5px 10px;
    font-size: 1.2rem;
    border: 2px solid #00ABE4;
  }
  
  #add-btn {
    padding: 7px 15px;
    background-color: #00ABE4;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
  }